@import url(./partials/_variables.css);
html {
    scroll-behavior: smooth;
}

body {
    padding-top: 70px;
    font-family: 'Inconsolata', monospace;
    background-color: var(--primary-color);
}

.jumbotron {
    border-radius: 10px;
}

.social-media>a {
    color: black;
}

.social-media>a>.fa:hover {
    transform: scale(1.5);
    transition-duration: 100ms;
}